header {
    background-color: #dd4d4d;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  img {
    width: 350px;
    height: auto;
  }

  a {
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }