<div class="about-container">
  <h1>About Poke Compendium</h1>
  <p class="intro-text">Poke Compendium is a powerful tool designed for Pokémon trainers to access all the essential information about their favorite Pokémon and items, brought to you by the data provided through the PokeAPI.</p>

  <div class="info-card">
    <h2>Project Overview</h2>
    <p>This project is built with Angular and consumes data from the <a href="https://pokeapi.co/" target="_blank" class="poke-api-link">PokeAPI</a>. It offers a user-friendly interface to search for Pokémon, items, and other related content.</p>
  </div>

  <div class="info-card">
    <h2>Technology Stack</h2>
    <p>The project utilizes the following technologies:</p>
    <ul>
      <li>Angular</li>
      <li>TypeScript</li>
      <li>PokeAPI (RESTful API)</li>
    </ul>
  </div>

  <div class="info-card">
    <h2>Legal Notice</h2>
    <p>Pokémon is a trademark of <span class="highlight">The Pokémon Company</span> and <span class="highlight">Nintendo</span>. This project is not affiliated with or endorsed by either of these companies. All Pokémon names, images, and trademarks are owned by their respective creators.</p>
  </div>

  <div class="info-card">
    <h2>Contact Information</h2>
    <p>If you have any questions or feedback, feel free to reach out in links below:</p>
    <div class="social-links">
      <p>Connect with me:</p>
      <a href="https://www.linkedin.com/in/thiagooavelar/" target="_blank" class="social-link linkedin">LinkedIn</a>
      <a href="https://github.com/ThiagoIsland" target="_blank" class="social-link github">GitHub</a>
    </div>
  </div>