<mat-sidenav-container class="example-container">
  <!-- Sidebar -->
  <mat-sidenav mode="side" opened="true" class="example-sidenav">
    <p>Menu Lateral</p>

    <button routerLink="home" routerLinkActive="active">Home</button>
    <button routerLink="/pokesearch" routerLinkActive="active">POKE Search</button>
    <button routerLink="/itemfinder" routerLinkActive="active">Item Finder</button>
    <button routerLink="/about" routerLinkActive="active">About</button>
  </mat-sidenav>

  <mat-sidenav-content class="example-content">
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>