<mat-sidenav-container class="example-container">
  <!-- Sidebar -->
  <mat-sidenav mode="side" opened="true" class="example-sidenav">
    <p>Menu Lateral</p>
    <button routerLink="/home">Home</button>
    <button routerLink="/pokesearch">POKE Search</button>
    <button routerLink="/itemfinder">Item Finder</button>
    <button routerLink="/about">About</button>
  </mat-sidenav>

  <mat-sidenav-content class="example-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>