<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true" class="example-sidenav">
    <button class="poke-button" routerLink="home" routerLinkActive="active">Home</button>
    <button class="poke-button" routerLink="/pokesearch" routerLinkActive="active">POKE Search</button>
    <button class="poke-button" routerLink="/itemfinder" routerLinkActive="active">Item Finder</button>
    <button class="poke-button" routerLink="/about" routerLinkActive="active">About</button>
  </mat-sidenav>

  <mat-sidenav-content class="example-content">
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>